// Variables
// Usage library
	@import "../../page/css/vars.less";

// section where load the JS contents
.result {

	a.section_id {
		float: right;
	}

	>div {
		margin-bottom: 2em;
	}

	// mint row detail
	#row_detail {

		label {
			margin: 0;
		}

		.line-tittle-wrap {

			.info_value {
				display:inline-block;
				margin-left: 0.5em;
			}

			.authorship {
				margin-left: 1rem;
				font-size: 0.8em;
				letter-spacing: 1px;
			}
		}

		.info_text_block{

  			br {
				display: block;
				margin: 1.2em 0;
				content: " ";
			}
		}
	}//end #row_detail

	// map
	.map_container {
		// height: 60vh;
		// font-size: 1rem;
		// margin-bottom: 3em;
		// background-color: @blue_ocean;
		// border-top: 1px solid #dcdcdc;
		// border-bottom: 1px solid #dcdcdc;
		// transition: opacity 0.5s ease-in-out 0.25s;

		// wide
		// width: 100vw;
		// margin-left: calc(-50vw + 50%);
		// margin-right: calc(-50vw + 50%);
	}

	// types v2
	#types {

		.info_line.separator {
			margin-bottom: 1.25em;
		}

		.item_wrapper {
			padding-left: 2em;

			.term_line {
				padding-left: 1em;
			}

			.type_item {

			}

			.container {

			}

			.type_group {
				width: 100%;
			}

			.ts_period {
				font-weight: 600;
			}

			.padding_left {

			}

			.bold {
				font-weight: 600;
			}

			.unit {
				display: inline-grid;
				width: 33.33%;
			}

			.type_wrap {
				width: 100%;
				padding: 1em;
				padding-top: 0;
				display: grid;

				.type_number {
					width: 100%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;

					>a {
						font-weight: 600;

						.keyword {
							font-weight: 300;
						}
					}
				}

				.type_label {
					border: none;
					font-weight: bold;
					display: inline-block;
					text-decoration: none;

					@media screen and (max-width: 980px){
						font-size: 90%;
					}

					@media screen and (max-width: @content_medium_max_width){
						font-size: 120%;
					}
				}

				img {
					object-fit: contain;
					width: 50%;
					height: 100%;
					height: 8.25em;

					@media screen and (max-width: 980px){
						width: 100%;
						height: 100%;
					}
				}

				.type_info {
					font-size: 72%;
					margin: 0;
					text-align: center;
				}

				.types_img {
					margin: auto;

					@media screen and (max-width: 980px){
						display: flex;
						flex-flow: column;
					}

					.image_link {
						@media screen and (max-width: 980px){
							width: 100%;
						}
					}
				}

				.legend_box img {
					max-height: 1em;
					width: auto;
				}
			}
		}//end .item_wrapper
	}//end #types
}

.biblio_print {
	font-family: ".SF UI Text Condensed Regular", serif;
}

// types_print. Default is hidden (forces load font before print)
.types_print {
	font-family: ".SF UI Text Regular", sans-serif;
	font-size: 8pt;
	visibility: hidden;
	height: 1px;
	width: 1px;
	display: block;
	overflow: hidden;
}

.print-info {
	visibility: hidden;
	display: none;
}

#print_font {
	>.regular {
		font-family: ".SF UI Text Regular", sans-serif;
	}

	>.bold {
		font-family: ".SF UI Text Bold", sans-serif;
	}

	>.condensed_regular {
		font-family: ".SF UI Text Condensed Regular", serif;
	}

	>.condensed_light {
		font-family: ".SF UI Text Condensed Light", sans-serif;
	}
}

// print specifics import
	@import './mint_print';
