/*
* vars
* Global less vars
* (file included from vars.less)
*/
.button_icon_simple {
  background-repeat: no-repeat;
  background-position: center center;
  width: 1em;
  height: 1em;
  cursor: pointer;
  background-size: contain;
  opacity: 0.7;
}
.button_icon_simple:active {
  opacity: 0.5;
}
.button_icon_simple:hover {
  opacity: 1;
}
@media print {
  @page {
    size: 210mm 297mm;
    margin: 22mm 22mm 22mm 22mm;
  }
  #footer,
  #header,
  #menu,
  #export_data,
  .inner > h1,
  .form,
  nav,
  .leaflet-control-container,
  .golden-separator,
  .text-block-separator,
  .export_data_container,
  .go_to_dedalo {
    display: none !important;
  }
  body {
    background-color: transparent;
    height: auto;
    padding: 0px;
    margin: 0px;
  }
  #wrapper {
    font-size: 60%;
    color: black !important;
    height: auto;
    background-color: transparent;
  }
  #map_container {
    page-break-before: always;
    height: 120mm;
    width: 210mm;
  }
  #main {
    width: 100% !important;
    padding-bottom: 0px;
  }
  .print-info {
    visibility: visible;
    display: inherit;
  }
  .bibliographic_reference {
    font-size: 12px !important;
    margin-top: 0.5em !important;
  }
  .icon_link {
    font-size: 10px !important;
  }
  .line-tittle-wrap {
    display: flex;
    flex-flow: column;
  }
  .line-tittle-wrap .info_value {
    font-size: 14px;
    text-align: center;
    margin-bottom: 5em;
  }
  .line-tittle-wrap .info_value::first-letter {
    font-size: 0px !important;
  }
  .line-tittle {
    font-size: 25px !important;
    text-align: center;
    color: black !important;
  }
  a {
    color: black !important;
  }
  .term {
    color: black !important;
  }
  .coins_images {
    width: 10vw;
  }
  .type_container {
    display: inline-grid !important;
    grid-template-columns: auto 40% !important;
    grid-template-rows: auto auto !important;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  .inner {
    width: 210mm;
    font-family: "Times New Roman", Times, serif !important;
    margin: 22mm;
  }
  .inner .line-tittle-wrap {
    margin: 0 !important;
  }
  .inner .contracted-block {
    max-height: 10000px !important;
  }
  .inner .info_text_block {
    padding: unset;
    font-size: 1em !important;
    line-height: 1.4em !important;
  }
  .inner .ts_period {
    font-size: 120% !important;
    padding-left: 0 !important;
  }
  .inner .item_wrapper {
    padding-left: 0 !important;
  }
  .inner .item_wrapper .type_group {
    font-weight: inherit !important;
  }
  .inner .item_wrapper .container {
    padding-left: 1em;
  }
  .inner .item_wrapper .unit {
    padding-left: 1em !important;
  }
  .inner .item_wrapper .unit {
    font-size: 150% !important;
    width: 100% !important;
    margin-bottom: 1em;
  }
  .inner .item_wrapper .unit .type_wrap {
    font-size: 13px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(6, auto);
    grid-column-gap: 1em;
    border-bottom: 1px solid #ddd;
    padding: 0 !important;
  }
  .inner .item_wrapper .unit .type_number {
    white-space: normal !important;
  }
  .inner .item_wrapper .unit .type_info {
    font-size: 84% !important;
  }
  .inner .item_wrapper .unit .types_img {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    text-align: right;
    margin: inherit !important;
  }
  .inner .item_wrapper .unit .info_wrap {
    grid-row-start: 2;
  }
  .inner .item_wrapper .unit .info_wrap .type_info {
    text-align: left !important;
  }
  .inner .item_wrapper .unit .design-info {
    display: inline-block;
    text-align: left !important;
    grid-column-start: 1;
  }
  .inner .item_wrapper .unit .sides-wrapper {
    display: flex;
    flex-flow: row;
  }
  .inner .item_wrapper .unit .legend-info {
    display: inline-block;
    text-align: left;
    line-height: inherit;
    margin-left: 1em;
    font-size: 11px !important;
  }
  .inner .item_wrapper .unit .equivalents {
    grid-row-start: 5;
    text-align: left !important;
    font-size: 60% !important;
  }
  .inner .item_wrapper .unit .coins-info {
    font-size: 65%;
    text-align: right;
    color: #888 !important;
    margin: 0 !important;
    grid-column-start: 2;
  }
  .inner .item_wrapper .unit .public-info {
    font-size: 80%;
    display: flex;
    grid-row-start: 6;
  }
  .inner .item_wrapper .unit .public-info img {
    line-height: 1em;
    display: inline;
    width: 1em !important;
    height: 2em !important;
    margin: 0 1em;
  }
  .inner .info_line .big_label {
    background-color: unset;
    color: #777777;
  }
}
/*# sourceMappingURL=mint_print.css.map */