/*
* vars
* Global less vars
* (file included from vars.less)
*/
.button_icon_simple {
  background-repeat: no-repeat;
  background-position: center center;
  width: 1em;
  height: 1em;
  cursor: pointer;
  background-size: contain;
  opacity: 0.7;
}
.button_icon_simple:active {
  opacity: 0.5;
}
.button_icon_simple:hover {
  opacity: 1;
}
#wrapper .inner {
  padding: 0;
}
.rows_list {
  position: relative;
  min-height: 42vh;
  padding-top: 2em;
}
.rows_list span {
  margin-right: 1em;
}
.rows_list .descriptions span {
  margin-right: 1.5em;
}
.rows_list .descriptions .legend_box span {
  margin: 0;
}
.rows_list .spinner_svg {
  position: absolute;
  top: 3em;
  z-index: 99999999;
}
.spinner {
  position: fixed;
  top: 40vh;
  z-index: 999999;
}
.row_wrapper {
  margin-bottom: 1em;
  border-bottom: 1px solid #dedede;
  padding-bottom: 1em;
}
.row_wrapper h2 {
  padding-bottom: 0;
  margin-bottom: 0;
  display: inline-block;
}
.row_wrapper img.svg {
  vertical-align: middle;
}
.row_wrapper div,
.row_wrapper h1 {
  font-family: cambria;
  font-size: 1.1em;
  font-weight: 100;
  line-height: 1.4;
}
.row_wrapper .name {
  font-variant: small-caps;
  letter-spacing: 1px;
}
.row_wrapper .name > * {
  display: inline-block;
  padding-right: 1em;
}
.row_wrapper .name > .section_id {
  float: right;
  padding-right: 0;
}
.row_wrapper .italic {
  font-style: italic;
}
.row_wrapper .grey {
  color: #8C8C8C;
}
.row_wrapper .blue {
  color: #497FC2;
}
.row_wrapper .row_title {
  display: flex;
  flex-wrap: wrap;
}
.row_wrapper .row_title .pdf {
  margin-left: 0.5em;
}
.row_wrapper .row_title .pdf:after {
  content: " ";
  height: 100%;
  width: 1em;
  background-image: url("../../assets/images/file-pdf-o.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  cursor: pointer;
}
.row_wrapper .row_body {
  display: flex;
  flex-wrap: wrap;
}
.row_wrapper .row_url {
  display: flex;
  flex-wrap: wrap;
}
.row_wrapper .row_url a.url_data {
  color: #497FC2;
}
.row_wrapper .row_url .separator {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.children_contanier,
.mint_relations {
  margin-left: 2em;
}
#rows_list > .children_contanier {
  margin-left: 0;
}
.mint_relations {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #ddd;
}
/*

	(!) Removed 09-07-2024 by Paco.
	It is replaced by the 'catalog_type.less' file which encapsulates the CSS of the type,
	so that it can be re-used in other sections such as Epigraphy.

// types container
	.row_node {
		border-top: 1px solid #ddd;

		&:first-child {
			border-top: none;
		}
	}

	.term {
		// font-variant-caps: normal;
		// font-weight: bold;
		// text-transform: uppercase;
		font-weight: 500;
		color: #b7996d; //GOLDEN COLOR

		.keyword {
			font-weight: 300;
			margin: 0;
		}
	}

	.ref_type_averages_weight, .ref_type_averages_diameter{
		    margin-right: 0.5em;
		    font-size: 16px;
	}
	.ref_type_total_weight_items, .ref_type_total_diameter_items{
		font-size: 16px;
	}

	.mint{
		display: inline-block;
		font-size: 1.4em;
		font-weight: 600;
		font-variant-caps: small-caps;
		cursor: pointer;
		letter-spacing: 0.05em;
	}
	.link_mint {
		margin-left: 1em;

		&:before {
			content: " ";
			width: 0.75em;
			height: 0.75em;
			display: inline-block;
			background-image: url("@{assets_path}/images/icon_link_color.svg");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}
	}
	.ts_period_value{
		font-weight: 600;
	}

	.ts_numismatic_group_value{
		font-weight: 600;
	}



	.descriptions{
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto auto auto;
		row-gap: 0.75em;
		font-size: 15px;
		line-height: 1.4em;
	}

	.ref_type_equivalents{
		font-size: 0.6em;
		grid-column-start: 1;
		grid-row-start: 2;
	}
	.collection_auction{
		font-size: 0.6em;
		grid-column-start: 2;
		grid-row-start: 2;
		display: inline-flex;
		text-align: center;
		justify-content: center;
	}
	.ref_type_design_obverse{
		grid-column-start: 1;
		grid-row-start: 1;
	}
	.ref_type_symbol_obverse{
		grid-column-start: 1;
		grid-row-start: 2;
		img {
			height: 1.2em;
			vertical-align: middle;
		}
	}

	.legend_obverse{
		grid-column-start: 1;
		grid-row-start: 3;
		display: grid;
		img{
			// height: 1.2em;
			// vertical-align: middle;
		}
		span{
			margin-right: 0;
			font-weight: 400;
    		color: black;
		}
		.ref_type_legend_transcription_obverse{
			color: unset;
			font-weight: unset;
		}
	}

	.ref_type_design_reverse{
		grid-column-start: 2;
		grid-row-start: 1;
		img {
			height: 1.2em;
			vertical-align: middle;
		}
	}
	.ref_type_symbol_reverse{
		grid-column-start: 2;
		grid-row-start: 2;
		img {
			height: 1.2em;
			vertical-align: middle;
		}
	}
	.legend_reverse{
		grid-column-start: 2;
		grid-row-start: 3;
		display: grid;
		img{
			// height: 1.2em;
			// vertical-align: middle;
		}
		span{
			margin-right: 0;
			font-weight: 400;
    		color: black;
		}
		.ref_type_legend_transcription_reverse{
			color: unset;
			font-weight: unset;
		}
	}

	.coins_images{
		display: inline-grid;
		grid-template-columns: 50% 50%;

		align-items: center;
		justify-content: center;
		// width: attr(data-print_w);
	}
	.coins_images_container{
		grid-column-start: 2;
		grid-row-start: 1;
		justify-items: center;
		align-items: center;
		justify-content: center;
		display: grid;
	}
	.image_obverse{
		max-width: 100%;
		height: auto;
		// width: attr(data-print_w);
	}

	.image_reverse{
		max-width: 100%;
		height: auto;
		// width: attr(data-print_w);
	}
	.type_container{
		display: inline-grid;
		grid-template-columns: auto 40%;
		grid-template-rows: auto auto;
		margin-bottom: 0.5em;
		margin-top: 0.5em;

		@media screen and (max-width: @content_data_max_width_1280) {
			grid-template-columns: auto 50%;
		}
	}
	.types{
		display: grid;
		page-break-inside: avoid;
	}

	// @media print{
	// 	.image_obverse{
	// 		width: calc( attr(data-print_w) / 2);
	// 	}
	// 	.image_reverse{
	// 		width: calc( attr(data-print_w) / 2);
	// 	}
	// 	.coins_images{
	// 		width: calc( attr(data-print_w) / 2);
	// 	}
	// }
*/
.row_node:first-child {
  border-top: none !important;
}
.row_node.types {
  border-top: 1px solid #ddd;
  display: grid;
}
.row_node.types span {
  margin-right: 1em;
}
.row_node.types span.no_bold {
  margin-right: 0px;
}
.row_node.types .term {
  font-weight: 500;
  color: #b7996d;
}
@media screen and (max-width: 842px) {
  .row_node.types .term {
    display: inline-block;
  }
}
.row_node.types .term .keyword {
  font-weight: 300;
  margin: 0;
}
.row_node.types .grouper_print {
  display: none;
}
.row_node.types .ref_type_averages_weight,
.row_node.types .ref_type_averages_diameter {
  margin-right: 0.5em;
  font-size: 16px;
}
.row_node.types .ref_type_total_weight_items,
.row_node.types .ref_type_total_diameter_items {
  font-size: 16px;
}
.row_node.types .ts_numismatic_group_value {
  font-weight: 600;
}
.row_node.types .descriptions {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  row-gap: 0.75em;
  font-size: 15px;
  line-height: 1.4em;
}
.row_node.types .ref_type_equivalents {
  font-size: 0.6em;
  grid-column-start: 1;
  grid-row-start: 2;
}
.row_node.types .collection_auction {
  font-size: 0.6em;
  grid-column-start: 2;
  grid-row-start: 2;
  display: inline-flex;
  text-align: center;
  /* justify-items: center; */
  /* align-items: center; */
  justify-content: center;
}
@media screen and (max-width: 842px) {
  .row_node.types .collection_auction {
    grid-column-start: 1;
  }
}
.row_node.types .ref_type_design_obverse {
  grid-column-start: 1;
  grid-row-start: 1;
}
.row_node.types .ref_type_symbol_obverse {
  grid-column-start: 1;
  grid-row-start: 2;
}
.row_node.types .ref_type_symbol_obverse img {
  height: 1.2em;
  vertical-align: middle;
}
.row_node.types .legend_obverse {
  grid-column-start: 1;
  grid-row-start: 3;
  display: grid;
}
.row_node.types .legend_obverse span {
  margin-right: 0;
  font-weight: 400;
  color: black;
}
.row_node.types .legend_obverse .ref_type_legend_transcription_obverse {
  color: unset;
  font-weight: unset;
}
.row_node.types .ref_type_design_reverse {
  grid-column-start: 2;
  grid-row-start: 1;
}
.row_node.types .ref_type_design_reverse img {
  height: 1.2em;
  vertical-align: middle;
}
.row_node.types .ref_type_symbol_reverse {
  grid-column-start: 2;
  grid-row-start: 2;
}
.row_node.types .ref_type_symbol_reverse img {
  height: 1.2em;
  vertical-align: middle;
}
.row_node.types .legend_reverse {
  grid-column-start: 2;
  grid-row-start: 3;
  display: grid;
}
.row_node.types .legend_reverse span {
  margin-right: 0;
  font-weight: 400;
  color: black;
}
.row_node.types .legend_reverse .ref_type_legend_transcription_reverse {
  color: unset;
  font-weight: unset;
}
.row_node.types .coins_images {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
}
.row_node.types .coins_images_container {
  grid-column-start: 2;
  grid-row-start: 1;
  justify-items: center;
  align-items: center;
  justify-content: center;
  display: grid;
}
@media screen and (max-width: 842px) {
  .row_node.types .coins_images_container {
    grid-column-start: 1;
  }
}
.row_node.types .image_obverse {
  max-width: 100%;
  height: auto;
}
.row_node.types .image_reverse {
  max-width: 100%;
  height: auto;
}
.row_node.types .type_container {
  display: inline-grid;
  grid-template-columns: auto 40%;
  grid-template-rows: auto auto;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
@media screen and (max-width: 1280px) {
  .row_node.types .type_container {
    grid-template-columns: auto 50%;
  }
}
@media screen and (max-width: 842px) {
  .row_node.types .type_container {
    grid-template-columns: 100%;
  }
}
.row_node.types .type_container .type_info {
  z-index: 1;
}
.row_node.types .types {
  display: grid;
  page-break-inside: avoid;
}
.row_node.types .type_container_deep {
  display: contents;
}
.row_node.mints .mint {
  display: inline-block;
  font-size: 1.4em;
  font-weight: 600;
  font-variant-caps: small-caps;
  cursor: pointer;
  letter-spacing: 0.05em;
}
.row_node.mints .link_mint {
  margin-left: 1em;
}
.row_node.mints .link_mint:before {
  content: " ";
  width: 0.75em;
  height: 0.75em;
  display: inline-block;
  background-image: url("../../assets/images/icon_link_color.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.row_node.ts_period .ts_period_value {
  font-weight: 600;
}
.pagination.bottom {
  margin-top: 3em;
}
@media print {
  .inner > h1,
  .form,
  nav {
    display: none !important;
  }
  #header {
    padding: 0 !important;
  }
  #footer,
  #header,
  #export_data {
    display: none;
  }
  #wrapper {
    font-size: 50%;
    color: black !important;
  }
  a {
    color: black !important;
  }
  .term {
    color: black !important;
  }
  .coins_images {
    width: 10vw;
  }
  .type_container {
    display: inline-grid !important;
    grid-template-columns: auto 40% !important;
    grid-template-rows: auto auto !important;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  @page {
    size: 1200px 1692px;
  }
  .inner {
    max-width: 100% !important;
  }
}
@media (max-width: 842px) {
  .children_contanier {
    margin-left: 0.5em;
  }
  .type_container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    /* margin-bottom: 0.5em; */
    margin-top: 0.5em;
  }
  .type_container .type_info {
    grid-row-start: 3;
    grid-column-start: 1;
  }
  .type_container .ref_type_equivalents {
    grid-column-start: 1;
    grid-row-start: 4;
  }
  .type_container .coins_images_container {
    grid-column-start: 1;
    grid-row-start: 1;
    justify-items: center;
    align-items: center;
    justify-content: center;
    display: grid;
  }
  .type_container .collection_auction {
    font-size: 0.6em;
    grid-column-start: 1;
    grid-row-start: 2;
    display: inline-flex;
    text-align: center;
    /* justify-items: center; */
    /* align-items: center; */
    justify-content: center;
  }
}
/*# sourceMappingURL=catalog.css.map */