// catalog type only

.row_node {

	&:first-child {
		border-top: none !important;
	}

	// types container
	&.types {
		border-top: 1px solid #ddd;
		display: grid;
		// page-break-inside: avoid;
		// break-inside: avoid;

		span {
			margin-right: 1em;

			&.no_bold {
				margin-right: 0px;
			}
		}

		.term {
			font-weight: 500;
			color: #b7996d; //GOLDEN COLOR

			.keyword {
				font-weight: 300;
				margin: 0;
			}
		}

		// grouper_print (used in mint print) Hide by default
		.grouper_print {
			display: none;
		}

		.ref_type_averages_weight, .ref_type_averages_diameter{
			    margin-right: 0.5em;
			    font-size: 16px;
		}

		.ref_type_total_weight_items, .ref_type_total_diameter_items{
			font-size: 16px;
		}

		.ts_numismatic_group_value{
			font-weight: 600;
		}

		.descriptions{
			display: grid;
			grid-template-columns: 50% 50%;
			grid-template-rows: auto auto auto;
			row-gap: 0.75em;
			font-size: 15px;
			line-height: 1.4em;
		}

		.ref_type_equivalents{
			font-size: 0.6em;
			grid-column-start: 1;
			grid-row-start: 2;
		}

		.collection_auction{
			font-size: 0.6em;
			grid-column-start: 2;
			grid-row-start: 2;
			display: inline-flex;
			text-align: center;
			/* justify-items: center; */
			/* align-items: center; */
			justify-content: center;
		}

		.ref_type_design_obverse{
			grid-column-start: 1;
			grid-row-start: 1;
		}

		.ref_type_symbol_obverse{
			grid-column-start: 1;
			grid-row-start: 2;
			img {
				height: 1.2em;
				vertical-align: middle;
			}
		}

		.legend_obverse{
			grid-column-start: 1;
			grid-row-start: 3;
			display: grid;
			img{
				// height: 1.2em;
				// vertical-align: middle;
			}
			span{
				margin-right: 0;
				font-weight: 400;
	    		color: black;
			}
			.ref_type_legend_transcription_obverse{
				color: unset;
				font-weight: unset;
			}

		}

		.ref_type_design_reverse{
			grid-column-start: 2;
			grid-row-start: 1;
			img {
				height: 1.2em;
				vertical-align: middle;
			}
		}

		.ref_type_symbol_reverse{
			grid-column-start: 2;
			grid-row-start: 2;
			img {
				height: 1.2em;
				vertical-align: middle;
			}
		}

		.legend_reverse{
			grid-column-start: 2;
			grid-row-start: 3;
			display: grid;
			img{
				// height: 1.2em;
				// vertical-align: middle;
			}
			span{
				margin-right: 0;
				font-weight: 400;
	    		color: black;
			}
			.ref_type_legend_transcription_reverse{
				color: unset;
				font-weight: unset;
			}
		}

		.coins_images{
			display: inline-grid;
			grid-template-columns: 50% 50%;

			align-items: center;
			justify-content: center;
			// width: attr(data-print_w);
		}

		.coins_images_container{
			grid-column-start: 2;
			grid-row-start: 1;
			justify-items: center;
			align-items: center;
			justify-content: center;
			display: grid;
		}

		.image_obverse{
			max-width: 100%;
			height: auto;
			// width: attr(data-print_w);
		}

		.image_reverse{
			max-width: 100%;
			height: auto;
			// width: attr(data-print_w);
		}

		.type_container{
			display: inline-grid;
			grid-template-columns: auto 40%;
			grid-template-rows: auto auto;
			margin-bottom: 0.5em;
			margin-top: 0.5em;

			@media screen and (max-width: @content_data_max_width_1280) {
				grid-template-columns: auto 50%;
			}

			.type_info {
				z-index: 1;
			}
		}

		.types{
			display: grid;
			page-break-inside: avoid;
		}

		// @media print{
		// 	.image_obverse{
		// 		width: calc( attr(data-print_w) / 2);
		// 	}
		// 	.image_reverse{
		// 		width: calc( attr(data-print_w) / 2);
		// 	}
		// 	.coins_images{
		// 		width: calc( attr(data-print_w) / 2);
		// 	}
		// }
	}

	// mints container
	&.mints {

		.mint {
			display: inline-block;
			font-size: 1.4em;
			font-weight: 600;
			font-variant-caps: small-caps;
			cursor: pointer;
			letter-spacing: 0.05em;
		}

		.link_mint {
			margin-left: 1em;

			&:before {
				content: " ";
				width: 0.75em;
				height: 0.75em;
				display: inline-block;
				background-image: url("../../assets/images/icon_link_color.svg");
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
			}
		}
	}

	// ts_period
	&.ts_period {

		.ts_period_value {
			font-weight: 600;
		}
	}
}//end .row_node
