/**
* COINS LIST UNIFIED STYLES
*/

// Usage library
	@import "vars.less";


.coins_list {

	display: flex;
	flex-wrap: wrap;

	.sorted_coin:last-child  {
		border-right: none;
	}
	/*.sorted_coin:nth-child(3n){
	// .sorted_coin:last-child(3n)  {
		border-right: none;
	}*/

	.sorted_coin {
		width : 33.33%;
		margin-bottom: 0.5em;
		font-size: 80%;
		border-right: 1px solid rgb(227, 227, 227);
		padding: 0.5em;
		border-radius: 4px;

		>.images_wrapper {
			margin-bottom: 0.5rem;
			position: relative;

			img {
				width: 50%;
				height: 200px;
				object-fit: contain;
				object-position: center;
				background-color: white;
			}
		}

		>.additional_info {
			margin-top: -0.5rem;

			>.additional_info_item {
				display: inline-block;

				&.mint {
					margin-right: 0.66rem;
					font-size: 1.2em;
					font-weight: 600;
					font-variant-caps: small-caps;
				}

				&.type {
					// margin-left: 0.5rem;
					font-weight: 500;
					color: #b7996d;
				}

			}
		}

		>.countermarks_wrapper {

			.svg {
				height: 2rem;
			}
		}

		>.references {
			margin-top: -0.5rem;

			>.bibliographic_reference {

			}
		}

		.uri-text a {
			@media screen and (min-width: 1680px){
				font-size:90%;
			}
			@media screen and (max-width: 976px){
				font-size:1.4vw;
			}
			@media screen and (max-width: 710px){
				font-size:1.8vw;
			}
			@media screen and (max-width: 590px){
				font-size:3vw;
			}
		}





		@media screen and (max-width: 976px){
			width: 48% !important;
		}

		@media screen and (max-width: 590px){
			flex:inherit;
			width: 95% !important;
			border-right:none;
			margin-top: 1em;

		}

		div {
			//font-size: 120%;
		}

	}
}
