
// main
	#main {
		overflow: hidden;
		padding-bottom: 2rem;

		>.inner {
			min-height: 78vh;
			width: 80vw;

			>.result {
				// info_line
				.info_line {
					margin-top: -1em;
					margin-bottom: 2rem;
				}

				.spinner {
					position: relative;
					margin-top: 4rem;
				}

				#row_body {
					padding-top: 1rem;
					padding-bottom: 2rem;
				}

				// body text
				.block-expandable {
					margin-bottom: 1rem;

					&.contracted-block {
						max-height: 91px;
					}

					>.info_text_block {
						padding: 0px;
						text-align: left;
						// background-color: #aa78f6;

						p {
							display: inline-block;
							text-align: left;
						}

						figure.table {
							margin-left: auto;
							margin-right: auto;
						}
					}
				}
			}
		}

		.form-inline .form-row .form-group {
			min-height: 3.25rem;
		}
	}

// Utility
.span_parent_width {
	width: 100%;
}

// debug
	// .o-red {
	// 	border: 1px solid red;
	// }
	// .o-blue {
	// 	border: 1px solid blue;
	// }
	// .o-green {
	// 	border: 1px solid green;
	// }
	// .o-purple {
	// 	border: 1px solid purple;
	// }
	// .o-black {
	// 	border: 1px solid black;
	// }
