// Variables

// Usage library
	@import "../../page/css/vars.less";


#wrapper {
	//background-color: #333333;
}

#header {
	.logo_big {
		margin-bottom: -2em !important;
		img{
			height: 10em !important;
		}
	}
}

#main {
	padding-top: 2.5em;
	padding-bottom: 2em;
	margin-bottom: 1em;

	h1 {
		text-align: center;
	}
}

#form_container{
	@media (max-width: @content_medium_max_width) {
		grid-column-start: 1;
		grid-column-end: 3;

	}
}

#form_container {
	min-height: 117px;
}


#search_form{
	display: flex;
	padding-top: 1em;

	>* {
		height: 3em;
		// background-color: #f0bf6f;
		// margin: 0;
	}

	.form-row {
		width: 80%;
	}

	.form-group.field.button_submit {
		margin-top: 0.75em;
		margin-left: 2em;
	}

}

.mint_form {
	flex: 1 !important;
	padding-right: 0 !important;
}

#main > .inner {
	padding-bottom: 0 !important;
	display: grid;
	grid-gap: 1em;
	grid-template-columns: repeat(2, 1fr);
	// grid-template-rows: repeat(2, auto);
	width: 100%;
	margin-top: 2rem;
	padding-left: 0px;

	@media screen and (max-width: @content_medium_max_width) {
		display: block;
	}

	.img-wrapper {
		position: relative;
		display: block;
		width: 100%;
		margin: auto;
		grid-row-start:1;
		grid-row-end: 5;
		border-bottom: none;
		min-height: 608px;
		text-align: center;

		@media screen and (max-width: @content_medium_max_width) {
			min-height: 20rem;
		}

		@media (max-width: @content_medium_max_width) {
			width: 80%;
			grid-row-start: 5;
			grid-row-end: 5;
			grid-column-start: 1;
			grid-column-end: 3;
		}

		img {
			display: inline-block;
			width: 90%;
		}

		>p {
			display: block;
		}

		.img-text {
			text-align: center;
			width: 100%;
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}

	.column_right {
		width: 100%;
	}

	p {
		grid-row-start:3;
		grid-row-end: 5;

		@media (max-width: @content_medium_max_width) {
			grid-column-start: 1;
			grid-column-end: 3;

		}
	}
}

