// Variables

// Usage library
	@import '../../page/css/vars.less';

.content {
	padding-top: 1rem;
}

.images {
	margin-bottom: 1rem;
	margin-top: 1rem;

	.image_big {
		height: 28rem;
		width: 100%;
		object-fit: contain;
	}
}


.main_container {
	position: relative;
	display: block;
	width: 100%;
	clear: both;
	min-height: 10rem;
}


.list_container {
	position: relative;
	display: block;
	width: 100%;
	clear: both;
}


.editors_block {
	margin-top: 2rem;

	>h1 {
		font-variant: small-caps;
		color: #b7996d;
		letter-spacing: 0.05em;
		font-weight: 100;
		font-size: 2em;
		margin-bottom: 0em;
	}

	.editor_name {
		margin-left: 2rem;
	}
}
